<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
          user-scalable=no,
          initial-scale=1.0,
          maximum-scale=1.0,
          minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="Home Page" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="description" content="Home Page Description" />
    <meta name="keywords" content="Home Page Keywords" />
    <title>Home Page</title>
    <!-- <link rel="shortcut icon" href="img/favicon/favicon.ico" /> -->
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <header class="main-header">
      <div class="container-header">
        <nav class="nav-header">
          <a href="#">home</a>
          <span>/</span>
          <a href="#">about</a>
          <span>/</span>
          <a href="#">services</a>
          <span>/</span>
          <a href="#">projects</a>
        </nav>
        <div class="title"><h2>Chloe</h2></div>
        <nav class="nav-header">
          <a href="#">shop</a>
          <span>/</span>
          <a href="#">blog</a>
          <span>/</span>
          <a href="#">contact</a>
          <span>/</span>
          <a href="#">insta bio</a>
        </nav>
      </div>
    </header>
    <!-- .main-header -->
    <main class="main-wrapper">
      <section class="section-hero">
        <img class="hero-img-white" src="/img/hero-img.jpg" alt="" />
        <img class="hero-woman" src="/img/hero-woman.jpg" alt="woman" />
        <div class="container">
          <h1>EXQUISITE and MODERN DESIGNS for YOUR BUSINESS</h1>
          <div class="hero-link">
            <a href="#">branding <span>/</span></a>
            <a href="#">design consulting <span>/</span></a>
            <a href="#">web design</a>
          </div>
          <button
            type="button"
            aria-label="arrow"
            title="arrow"
            class="arrow-bottom"
          ></button>
        </div>
        <img class="hero-hand" src="/img/hero-hand.jpg" alt="" />
        <img class="hero-womans" src="/img/hero-womans.jpg" alt="womans" />
      </section>
      <!-- .section-hero -->
      <section class="section-branding-web">
        <div class="brand-content">
          <div class="text-vertical">branding & web design work</div>
          <div class="img-brand">
            <div class="box">
              <img src="/img/brand-1.jpg" alt="" />
              <h3>Olena - Journal</h3>
              <strong>branding</strong>
            </div>
            <div class="box">
              <img src="/img/brand-2.jpg" alt="" />
              <h3>Olena - Journal</h3>
              <strong>branding</strong>
            </div>
            <div class="box">
              <img src="/img/brand-3.jpg" alt="" />
              <h3>Olena - Journal</h3>
              <strong>branding</strong>
            </div>
          </div>
        </div>
        <div class="text-view">view all projects</div>
      </section>
      <!-- .section-branding-web -->
    </main>
    <!-- .main-wrapper -->
    <footer class="main-footer">FOOTER</footer>
    <!-- .main-footer -->
    <script src="js/app.js"></script>
  </body>
</html>
